{% extends 'base.html' %}

{% block title %}
Start Page
{% endblock %}

{% block content %}

<body class="text-center">
<div class="container">
    <br>
    <h1>Welcome {{ user1 }} and {{ user2 }} !!</h1>
    <br>
    <h2>Choose the scenario you want to play...</h2>
    <form method="POST" class="form-register" style="colour:white">
        <br>
        {{ form.submit1(class="btn btn-lg btn-block btn-primary") }}
        <br>
        {{ form.submit2(class="btn btn-lg btn-block btn-primary") }}
        <br>
        {{ form.submit3(class="btn btn-lg btn-block btn-primary") }}
        <br>
        {{ form.submit4(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
</body>
{% endblock %}