{% extends 'base.html' %}

{% block title %}
Rules
{% endblock %}

{% block content %}
<h2 style="color:orange">
  Gameplay
</h2>
<br>
<h3 style="color:yellow">
This is a two player game where each player will have to correctly guess a Jumbled Word.
</h3>
  <br>
  <br>
<h4 style="color:lightgreen">
Step 1 :-  Click on the Jumbled Words tab
<br>
Step 2 :-  Enter names of both the players and click on 'Start Game'
<br>
Step 3 :-  Choose the scenario you wish to play i.e. Formal, Informal, Public Speaking, Any
<br>
Step 4 :-  On choosing the scenario the game shall start for player 1.
<br>
Step 5 :-  A randomised word shall be displayed on the screen.
<br>
Step 6 :-  Player 1 will have to guess the correct spelling of the word.
<br>
Step 7 :-  If the guess is right, 1 point will be awarded. No point shall be there for a wrong answer.
<br>
Step 8 :-  The incorrectly guessed word shall not pass to player 2.
<br>
Step 9 :-  A new randomised word shall be displayed on the screen.
<br>
Step 10 :- Player 2 will have to guess the correct spelling of the word.
<br>
Step 11 :- If the guess is right, 1 point will be awarded. No point shall be there for a wrong answer.
<br>
Step 12 :- The incorrectly guessed word shall not pass to player 1.
<br>
Step 13 :- In the same sequence, all rounds shall be played
<br>
Step 14 :- The player first scoring 3 points shall be declared as the winner.
<br>
Step 15 :- To start a new game click on Jumbled Words
</h4>

{% endblock %}

